@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #0b7af3;
  font-size: 14px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

i {
  background: rgb(7, 115, 232);
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin-top: 10px;
}

.container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  background: #efefef;
  box-shadow: 0px 0px 6px 2px rgba(84, 84, 84, 0.62);
}

.resume {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
}

.header {
  display: flex;
}

.photo img {
  max-width: 15rem;
  border-radius: 50%;
}

.tittle {
  align-self: center;
  padding-left: 40px;
}

.name {
  color: rgb(7, 115, 232);
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
}

.text-upp {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 15px;
}

.text {
  color: #4a4a4a;
  font-size: 0.75rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.info {
  display: flex;
}

.left {
  max-width: 15rem;
}

.right {
  padding-left: 40px;
}

.colored-text {
  color: rgb(7, 115, 232);
  font-weight: 600;
  font-size: 0.9rem;
}

.time-wrapper {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.time-period {
  font-size: 0.75rem;
  color: #4a4a4a;
}

.employer {
  font-size: 0.9rem;
}

.experience {
  border-bottom: 1px solid rgb(7, 115, 232);
}

.timeline {
  position: relative;
  padding-left: 25px;
}

.timeline ::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background: rgb(7, 115, 232);
  border-radius: 50%;
}

.timeline ::after {
  content: "";
  position: absolute;
  top: 16px;
  bottom: 12px;
  left: 2.5px;
  width: 3px;
  height: 110%;
  background: #c4bfbf;
}

.timeline:last-child ::after {
  display: none;
}

.skills {
  margin-top: 10px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(211, 211, 211, 0.62);
  margin: 5px 10px;
  border-radius: 32px;
  color: rgb(7, 115, 232);
  font-weight: 600;
  font-size: 12px;
  padding: 5px 20px;
}

.icon img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: contain;
}

.personality {
  display: flex;
  flex-wrap: wrap;
}

.personality-item {
  padding: 4px 8px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 32px;
  background: rgba(211, 211, 211, 0.62);
}

@media print {
  .info {
    display: flex;
  }

  .left {
    width: 700px;
  }

  .container {
    width: 1000px;
    height: 1295px;
  }

  .timeline ::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background: rgb(7, 115, 232);
    border-radius: 50%;
  }

  .timeline ::after {
    content: "";
    position: absolute;
    top: 16px;
    bottom: 12px;
    left: 2.5px;
    width: 3px;
    height: 108%;
    background: #c4bfbf;
  }
}
